test.*
*-main.c

*.DS_Store

0x03-debugging/.main.h.swp
0x04-more_functions_nested_loops/2-mul
0x04-more_functions_nested_loops/3-print_numbers
0x04-more_functions_nested_loops/5-more_numbers
0x04-more_functions_nested_loops/6-lines
0x04-more_functions_nested_loops/_putchar.c
0x05-pointers_arrays_strings/3-puts
0x05-pointers_arrays_strings/4-print_rev
0x05-pointers_arrays_strings/5-rev_string
0x05-pointers_arrays_strings/6-puts2
0x05-pointers_arrays_strings/7-puts_half
0x05-pointers_arrays_strings/8-print_array
0x05-pointers_arrays_strings/_putchar.c
0x05-pointers_arrays_strings/rev_string.c
0x06-pointers_arrays_strings/101-print_number.c
0x06-pointers_arrays_strings/102-magic
0x06-pointers_arrays_strings/2-old_strncpy.c
0x06-pointers_arrays_strings/2-strncpy
0x06-pointers_arrays_strings/3-strcmp
0x06-pointers_arrays_strings/4-rev_array
0x06-pointers_arrays_strings/6-cap
0x07-pointers_arrays_strings/.vscode/
0x07-pointers_arrays_strings/1-memcpy
0x07-pointers_arrays_strings/100-set_string
0x07-pointers_arrays_strings/2-strchr
0x07-pointers_arrays_strings/3-strspn
0x07-pointers_arrays_strings/7-print_chessboard
0x07-pointers_arrays_strings/8-print_diagsums
0x07-pointers_arrays_strings/_putchar.c
